.table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: left;
}

.table-bordered {
    border: 1px solid #ddd;
}

.table thead {
    background-color: #007bff;
    color: white;
}

.table th, .table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

.table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tbody tr:hover {
    background-color: #e9ecef;
    transition: 0.3s;
}

.btn {
    padding: 8px 12px;
    text-decoration: none;
    color: white;
    border-radius: 4px;
    display: inline-block;
    font-size: 14px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

    .btn-primary:hover {
        background-color: #0056b3;
    }

.btn-danger {
    background-color: #dc3545;
    border: none;
}

    .btn-danger:hover {
        background-color: #a71d2a;
    }
 
    p{
        text-align:center;
    }