<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/menu.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
</head>
<body>
    <header>
        <!-- Menu de navigation global -->
        <nav>
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                @if( User.Identity!.IsAuthenticated)
                {
                    <li><a>@User.Identity?.Name </a></li>
                    <li><a asp-controller="AdminHome" asp-action="Index" asp-area="AdminArea">Admin</a></li>
                 <li><a asp-controller="Account" asp-action="Logout">Logout</a></li>
                }
                else
                {
                    <li><a asp-controller="Account" asp-action="Register">Register</a></li>
                    <li><a asp-controller="Account" asp-action="Login">Login</a></li>
                }
                <li><a asp-controller="About" asp-action="AboutUs">About Us</a></li>
                <li><a asp-controller="About" asp-action="Customers">Ours customers</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <!-- Le contenu de la page va ici -->
        @RenderBody()
    </main>

   

    @RenderSection("scripts", required: false)
</body>
</html>
