@{
    Layout = "_Layout";
    ViewBag.Title = "Customers";
}
<section id="clients">
    <h2>Nos Clients</h2>
    <div class="client-logos">
        <div class="client-logo">
            <img src="chemin/vers/logo1.png" alt="Logo Client 1">
        </div>
        <div class="client-logo">
            <img src="chemin/vers/logo2.png" alt="Logo Client 2">
        </div>
        <div class="client-logo">
            <img src="chemin/vers/logo3.png" alt="Logo Client 3">
        </div>
        <!-- Ajoutez d'autres logos de clients ici -->
    </div>
    <div class="client-testimonials">
        <div class="testimonial">
            <p>"Le service fourni a dépassé nos attentes. Hautement recommandé !" - Client 1</p>
        </div>
        <div class="testimonial">
            <p>"Une équipe professionnelle et réactive. Nous sommes très satisfaits." - Client 2</p>
        </div>
        <div class="testimonial">
            <p>"Des solutions innovantes qui ont transformé notre entreprise." - Client 3</p>
        </div>
        <!-- Ajoutez d'autres témoignages de clients ici -->
    </div>
</section>
